*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }

body{
    background-color: #00ADB5;
    margin-left: 300px;
    min-height: 1300px;
}
  
.background {
    background-color: #00ADB5;
    /* height: 100vh; */
    width: 100%;
    /* position: fixed; */
    /* overflow-y: scroll; */
}
  
#menu{
    display: flex;
    min-height: max-content;
    height: 100%;
}
  
  
  
  /* SIDEBAR */
  
.sidebar{
    position: fixed;
    padding-top: 0.5em;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
}
  
.head-sidebar {
    display: flex;
    margin: auto;
    margin-left: 10%;

    width: fit-content;
    background-color: #FFFFFF;
}
  
.sidebar .features{
    background-color: #FFFFFF;
    margin-left: 15%;

    margin-top: 1em;
}
  
.sidebar .features li{
    background-color: #FFFFFF;
    font-size: 1.1rem;
    font-family: 'poppins';
    color: #5D7285;
    margin-bottom: 1.5em;
}
  
.sidebar .features .dropdown li{
    display: block;
}
  
.sidebar header{
    /* font-size: 24.06px; */
    font-size: 22.06px;
    font-family: 'Epilogue';
    color: #5D7285;
    line-height: 70px;
    background-color: #FFFFFF;
}
  
.features li a{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #5D7285;
}
  
  /* Kalo gaperlu ilangin aja */
.features li:hover {
    background-color: #FFFFFF;
    color: black;
    font-weight: 600;
}
  
  /* Dropdown styles */
  

.dropdown-parent {
    position: relative;
}

.dropdown-head{
    display: flex;
    align-items: center;
}

.dropdown{
    display: none;
    list-style-type: block;
    padding-left: 3.2em;
    padding-top: 1.2em;
    position: relative;
    background-color: #FFFFFF;
}

.dropdown-head:hover{
    cursor: pointer;
}

.dropdown-head:active + .dropdown{
    display: block;
}
  
  
  img{
    background-color: #FFFFFF;
    margin-right: 1em;
    width: 1.7vw;
    height: auto;
  }
  
  .logout{
    background-color: #667A8A;
    border: none;
    padding: 1em;
    font-size: 1rem;
    text-align: center;
    
  
    position: absolute;
    bottom: 5%;
    left: 10%; 
  
  
    width: 80%;
    margin: auto;
    margin-top: 4em;
  }
  
  /* Kalo gaperlu apus aja */
  .logout:hover{
    background-color: black;
  }
  
  .logout a{
    color: white;
  }
  
  
  
  /* ISI */
  
    .isi{
      margin-left: 2em;
      background-color: #00ADB5;
      flex-grow: 1;
    }
  
  .isi h2{
    padding-top: 30px;
    font-family: 'montserrat';
    font-size: 32px;
    color: #FFFFFF;
  }
  
  .edit {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    background-color: white;
    padding: 1.5em;
    margin: 3em 1em 2em 0;
  }
  
  .wrapper {
    background-color: white;
    box-shadow: 0.5px 0.5px 5px gray;
    padding: 2em;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2rem;
    gap: 40px;
  }
  
  form {
    background-color: white;
    height: 100%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: white;
  }

  .form-group-1 {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: white;
  }
  
  .form-group label {
    font-weight: bold;
    background-color: white;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: white;
  }
  
  .btn {
    background-color: #00ADB5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    grid-column: 1 / -1;
    height: 3rem;
    width: 8rem;
    margin-top: 30px;
  }
  
  .btn:hover {
    background-color: #01767d;
  }
  
  .submit-btn{
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .title, .title2{
    font-size: 18px;
    font-weight: bold;
  }

  label{
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .title2{
    margin-top: 0;
  }